body {
  /* 구글 웹 폰트 적용 */
  font-family: 'Noto Sans KR', sans-serif;
  color: #112D4E !important;
  margin: 0px;
  height: 100vh;
}

.header {
  padding: 1.5rem;
  background-color: #DBE2EF;
  font-size: 1.1rem;
}

.header .el-link__inner {
  color: #112D4E !important;
  font-size: 1.1rem;
}

.header-content {
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.main-container {
  margin: auto;
  width: 90vw;
  text-align: center;
}

.main-container .login-btn {
  width: 50%;
  height: 5rem !important;
  font-size: 2.5rem !important;
}

.login .button-container {
  width: 30rem;
  margin: auto;
}

.login .button-container img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1rem;
  border-radius: 50%;
}

.login .login-btn {
  width: 100%;
  height: 4rem !important;
  font-size: 1.5rem !important;
  margin-bottom: 2rem;
}

.portfolio-create-selection .button-container {
  width: 30rem;
  margin: 15rem auto;
}

.portfolio-create-selection .portfolio-create-selection-btn {
  width: 100%;
  height: 4rem !important;
  font-size: 1.5rem !important;
  margin-bottom: 2rem;
}

.portfolios-summary-container .box-card {
  width: 80%;
  margin: 5rem auto;
  border-radius: 1rem;
  background-color: #F9F7F7;
}

.portfolios-summary-container .card-header {
  padding: 1rem;
}

.portfolios-summary-container .card-body {
  padding: 1rem;
}

.portfolios-summary-container .card-body .card-body-header {
  padding: 1rem;
}

.portfolios-summary-container .card-body .el-row {
  margin-bottom: 2rem;
}

.portfolios-summary-container .card-body .el-col {
  padding: 1rem;
}

.portfolios-summary-container .card-body .stock-card {
  background-color: #DBE2EF;
  border: 1px solid;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.7rem;
}

.portfolios-summary-container .card-body .stock-card .stock-card-content {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.portfolios-summary-container .f-big {
  font-size: 2rem;
}

.portfolios-summary-container .f-small {
  font-size: 1.3rem;
}

.tag {
  border: none !important;
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.p-1 {
  padding: 1rem;
}

.color-black {
  color: black !important;
}

.color-white {
  color: white !important;
}