@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important;
}

body {
  box-sizing: border-box;
  color: #120064 !important;
  overflow-x: hidden;
}

.main-logo {
  width: 75%;
}

.header {
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
}

.header .nav-btn {
  color: #120064 !important;
  font-size: 1.3rem;
}

.header-content {
  text-align: center;
}

.main-container {
  width: 100vw;
  text-align: center;
}

.main-container .first-box-bg {
  width: 100vw;
  height: calc(100vh - 72px);
  position: absolute;
  right: 0;
}

.main-container .first-box {
  padding-top: 20vh;
  height: calc(80vh - 72px);
}

.main-container .main-first-text {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
}

.main-container .main-first-logo {
  width: 30vw;
  margin: 2vh;
}

.main-container .login-btn {
  width: 18rem !important;
  height: 6rem !important;
  font-size: 3rem !important;
  color: #00f61d !important;
  font-weight: bold;
  margin: 100px;
}

.main-container .down-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chevron {
  position: absolute;
  width: 2.5rem;
  height: 0.6rem;
  opacity: 0;
  transform: scale(0.3);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #120064;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(2.28rem);
  }
  67% {
    opacity: 1;
    transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}

.main-container .second-box {
  background-color: #120064;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.main-container .second-box-content {
  padding-left: 8%;
  padding-right: 8%;
  width: 100%
}

.main-container .main-second-text-title {
  display: flex;
  position: absolute;
  top: 25%;
  font-weight: bold;
  font-size: 3.5rem;
  color: #ffffff;
  margin-bottom: 2vh;
}

.main-container .main-second-text-content {
  display: flex;
  position: absolute;
  top: 45%;
  text-align: left;
  font-weight: light;
  font-size: 2rem;
  color: #ffffff;
}

.main-container .main-content1 {
  float: right;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-container .third-box {
  background-color: #fff;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.main-container .third-box-content {
  padding-left: 8%;
  padding-right: 8%;
  width: 100%;
}

.main-container .main-content2 {
  float: left;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-container .main-third-text-title {
  display: flex;
  position: absolute;
  left: 57%;
  top: 25%;
  font-weight: bold;
  font-size: 3.5rem;
  color: #120064;
  float: right;
  margin-bottom: 2vh;
}

.main-container .main-third-text-content {
  display: flex;
  position: absolute;
  left: 57%;
  top: 45%;
  text-align: left;
  font-weight: light;
  font-size: 2rem;
  color: #120064;
  float: right;
}

.main-container .last-box {
  background-color: #120064;
  position: relative;
  height: 100vh;
}

.main-container .last-box-ask {
  background-color: #fff;
  position: absolute;
  height: 35vh;
  width: calc(100vw - 10%);
  margin: 5%;
  padding: 5% 0%;
  border-radius: 30px;
}

.main-container .ask-logo {
  width: 25rem;
  padding-left: 10%;
}

.main-container .main-last-text {
  padding-left: 10%;
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 2%;
  align-self: flex-end;
}

.main-container .main-last-btn {
  text-align: center;
  font-weight: bold;
  align-self: flex-end;
}

.main-container .ask-btn {
  width: 18rem;
  height: 7rem !important;
  font-size: 4rem;
  color: #00f61d;
}

.main-container .footer {
  background-color: #fff;
  position: absolute;
  width: 100vw;
  padding: 5rem;
  bottom: 0;
}

.main-container .footer-names {
  text-align: left;
  font-size: 2rem;
}

.main-container .footer-copyright {
  text-align: right;
  font-size: 1.5rem;
}

.main-container .footer-logo {
  width: 12rem;
}

.login .button-container {
  width: 30rem;
  margin: auto;
  margin-top: 7rem;
}

.login .button-container img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1rem;
  border-radius: 50%;
}

.login .login-btn {
  width: 100%;
  height: 4rem !important;
  font-size: 1.5rem !important;
  margin-bottom: 2rem;
}

.login .login-copyright {
  margin: 2.5rem;
}

.portfolio-create-selection .button-container {
  width: 30rem;
  margin: 15rem auto;
}

.portfolio-create-selection .portfolio-create-selection-btn {
  width: 100%;
  height: 4rem !important;
  font-size: 1.5rem !important;
  margin-bottom: 2rem;
}

.portfolios-summary-container,
.portfolio-summary-container,
.create-stock-container {
  width: 85%;
  margin: auto;
}

.portfolio-create-container {
  width: 60%;
  margin: auto;
}

.portfolio-create-container label {
  font-size: 1.2rem;
}

.portfolios-summary-container .box-card,
.portfolio-create-container .box-card,
.portfolio-summary-container .box-card,
.portfolio-create-container .box-card,
.create-stock-container .box-card,
.portfolio-create-container .box-card {
  width: 90%;
  margin: 5rem auto;
  border-radius: 1rem;
  background-color: #E6F3F8;
}

.portfolios-summary-container .card-header,
.portfolio-summary-container .card-header,
.create-stock-container .card-header {
  padding: 0.5rem;
}

.portfolios-summary-container .card-body,
.portfolio-create-container .card-body,
.portfolio-summary-container .card-body,
.portfolio-create-container .card-body,
.create-stock-container .card-body,
.portfolio-create-container .card-body {
  padding: 0.5rem;
}

.portfolios-summary-container .card-body .card-body-header,
.portfolio-summary-container .card-body .card-body-header,
.portfolio-create-container .card-body .card-body-header,
.create-stock-container .card-body .card-body-header {
  padding: 0.5rem 0;
  margin-bottom: 2rem;
}

.portfolio-summary-container .card-body .card-body-header .tag-icon {
  float: right;
}

.portfolios-summary-container .card-body .el-row,
.portfolio-summary-container .card-body .el-row,
.create-stock-container .card-body .el-row {
  margin-bottom: 1rem;
}

.portfolios-summary-container .card-body .el-col,
.portfolio-summary-container .card-body .el-col,
.create-stock-container .card-body .el-col {
  padding: 0.5rem;
}

.portfolios-summary-container .card-body .stock-card,
.portfolio-summary-container .card-body .stock-card {
  background-color: #C5D3E0;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.7rem;
}

.portfolios-summary-container .card-body .stock-card .el-link__inner {
  color: #120064;
  font-size: 1.5rem;
}

.portfolio-summary-container .card-body .stock-card .stock-card-content {
  margin-bottom: 0.5rem;
  padding: 0.1rem;
}

.portfolios-summary-container .card-body .stock-card .stock-card-content {
  margin: 0.5rem;
}

.create-stock-container .card-body .stock-card .stock-card-content {
  margin: 0 1rem;
}

.portfolios-summary-container .card-body .stock-card .el-col {
  padding: 0.1rem;
}

.portfolios-summary-container .f-big,
.portfolio-summary-container .f-big,
.create-stock-container .f-big {
  font-size: 2rem;
}

.portfolios-summary-container .f-small,
.portfolio-summary-container .f-small,
.create-stock-container .f-small {
  font-size: 1.3rem;
}

.portfolio-create-container .card-header,
.portfolio-summary-container .card-header,
.create-stock-container .card-header {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}

.portfolio-create-container .card-body .el-form-item,
.portfolio-summary-container .card-body .el-form-item {
  padding: 1rem;
}

.portfolio-create-container .box-card .radio-btn,
.portfolio-summary-container .box-card .radio-btn,
.create-stock-container .box-card .radio-btn {
  margin-right: 1rem;
}

.portfolio-create-container .box-card .radio-btn .el-radio-button__inner,
.portfolio-summary-container .box-card .radio-btn .el-radio-button__inner,
.create-stock-container .box-card .radio-btn .el-radio-button__inner {
  border-left-width: 1px !important;
  border-left-style: solid;
  border-left-color: #dcdfe6;
  border-radius: 2rem !important;
}

.portfolio-create-container .button-container .el-form-item__content,
.portfolio-summary-container .button-container .el-form-item__content,
.create-stock-container .button-container .el-form-item__content {
  justify-content: center;
}

.portfolio-create-container .button-container .el-button,
.portfolio-summary-container .button-container .el-button,
.create-stock-container .button-container .el-button {
  width: 40%;
  height: 3rem;
  font-size: 1.5rem;
}

.el-dialog,
.el-message-box {
  border-radius: 1rem !important;
  background-color: #E6F3F8 !important;
}

.popup .el-input__wrapper,
.popup .el-textarea__inner {
  border-radius: 0.5rem;
}

.popup .add-stock-container .statistic {
  text-align: center;
  width: 85%;
  margin: auto;
}

.popup .add-stock-container .statistic .row {
  border-bottom: 1px solid;
  margin: 0px;
  padding: 0.5rem;
}

.popup .add-stock-container .statistic .el-col {
  padding: 0.1rem;
}

.popup .add-stock-container .statistic .title {
  font-weight: bold;
}

.popup .add-stock-container .add-stock-form {
  width: 85%;
  margin: auto;
}

.popup .add-stock-container .add-stock-form .el-form-item {
  padding: 0.5rem;
  margin: auto;
}

.popup .add-stock-container .add-stock-form .el-form-item .el-input {
  width: 150px;
}

.popup .add-stock-container .button-container {
  text-align: center;
  margin-top: 1rem;
}

.create-stock-container .create-stock-form {
  background-color: #DBE2EF;
  border-radius: 2rem;
  padding: 1rem;
}

.create-stock-container .el-input__wrapper {
  border-radius: 0.5rem;
}

.create-stock-container .create-stock-form .el-form-item__label {
  font-size: 1.2rem;
}

.create-stock-container .create-stock-form .el-form-item .el-input,
.create-stock-container .create-stock-form .el-form-item .el-input-number {
  width: 65%;
}

.create-stock-container .create-stock-form .el-form-item .el-input-number .el-input {
  width: 100%;
}

.create-stock-container .button-container {
  text-align: center;
  margin-top: 1rem;
}

.create-stock-container .button-container .el-button {
  font-size: 1.1rem;
  width: 31%;
}

.create-stock-container .card-body .stock-card {
  background-color: #DBE2EF;
  /* border: 1px solid; */
  border-radius: 0.5rem;
  padding: 0.1rem;
}

.tag {
  border: none !important;
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.p-1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding: 2.5rem;
}

.color-black {
  color: black !important;
}

.color-white {
  color: white !important;
}

.ml-2 {
  margin-left: 2rem;
}

.cur-pointer {
  cursor: pointer;
}

.return-chart {
  width: 80vw;
}

.el-message-box__btns button:nth-child(2) {
  margin-left: 10px;
  background-color: #120064;
  border-color: #0065B8;
}

.el-message-box__btns button:nth-child(2):hover {
  background-color: #0065B8;
}

.clickable {
  cursor: pointer;
}